easydict~=1.10
numpy~=1.19.5
pillow~=8.4.0
pyyaml~=6.0
sklearn~=0.0
scikit-learn~=0.24.2
torchvision~=0.11.2
numba~=0.53.1
opencv-python~=4.6.0.66
pandas~=1.1.5
tqdm~=4.64.1


h5py~=3.1.0
matplotlib~=3.3.4
pip~=21.3.1
wheel~=0.37.1
brotli~=1.0.9
tornado~=6.1
setuptools~=59.6.0
future~=0.18.2
torch~=1.10.1